.contacts {
  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: 46px;
    input {
      flex: 1 1 300px;
    }
    @media (max-width: 1200px) {
      gap: 32px;
    }
    @media (max-width: 980px) {
      gap: 20px;
    }
    @media (max-width: 767px) {
      gap: 12px;
    }
  }
  &__btn {
    width: 100% !important;
    @media (max-width: 767px) {
      margin-top: 18px;
    }
  }
}