// @import './variables';
@import '~/src/styles/variables';

:root {
  --white: #FFFFFF;
  --dark-txt: #212121;
  --dark-bg: #1D1D1D;
  --primary-green: #16676B;
  --light-green: #00B7C1;
  --grey: #D5D5D5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  font: 400 16px/1.5 CeraPro;
  color: var(--white, #FFFFFF);
  @media (max-width: 767px) {
    font: 400 14px/1.5 CeraPro;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: var(--primary-green, #16676B);
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  padding: 0;
  list-style-position: inside;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

input:focus-visible, textarea:focus-visible, select:focus-visible {
  outline: none;
}

input,
select,
textarea {
  padding: 1.25rem 1rem;
  border-radius: 4px;
  border: 1px solid var(--white, #FFFFFF);
  color: var(--white, #FFFFFF);
  background-color: transparent;
  line-height: 1;
  transition: all 0.3s ease-in-out;
}

input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  font-size: inherit;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  color: inherit;
  font-size: inherit;
}