@font-face {
  font-family: CeraPro;
  font-display: swap;
  src: url("/assets/fonts/CeraPro-Bold.woff2") format("woff2"), url("../fonts/CeraPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: CeraPro;
  font-display: swap;
  src: url("/assets/fonts/CeraPro-Light.woff2") format("woff2"), url("../fonts/CeraPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: CeraPro;
  font-display: swap;
  src: url("/assets/fonts/CeraPro-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CeraPro;
  font-display: swap;
  src: url("/assets/fonts/CeraPro-Medium.woff2") format("woff2"), url("../fonts/CeraPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: CeraPro;
  font-display: swap;
  src: url("/assets/fonts/CeraPro-Bold.woff2") format("woff2"), url("../fonts/CeraPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: CeraPro;
  font-display: swap;
  src: url("/assets/fonts/CeraPro-Light.woff2") format("woff2"), url("../fonts/CeraPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: CeraPro;
  font-display: swap;
  src: url("/assets/fonts/CeraPro-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CeraPro;
  font-display: swap;
  src: url("/assets/fonts/CeraPro-Medium.woff2") format("woff2"), url("../fonts/CeraPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

h1 {
  font: 700 82px/1 CeraPro;
  text-transform: uppercase;
  @media (max-width: 1400px) {
    font: 700 64px/1 CeraPro;
  }
  @media (max-width: 1200px) {
    font: 700 54px/1 CeraPro;
  }
  @media (max-width: 980px) {
    font: 700 44px/1 CeraPro;
  }
  @media (max-width: 767px) {
    font: 700 32px/1 CeraPro;
  }
}

h2 {
  font: 700 36px/1 CeraPro;
  text-transform: uppercase;
  @media (max-width: 980px) {
    font: 700 32px/1 CeraPro;
  }
  @media (max-width: 767px) {
    font: 700 28px/1 CeraPro;
  }
}

h3 {
  font: 700 24px/1 CeraPro;
  @media (max-width: 767px) {
    font: 700 22px/1 CeraPro;
  }
}

h4 {
  font: 700 20px/1 CeraPro;
}

h5 {
  font: 700 18px/1 CeraPro;
}

h6 {
  font: 700 16px/1 CeraPro;
}