@import '~/src/styles/variables';
@import '~/src/styles/typography';
@import '~/src/styles/mixins';
@import '~/src/styles/default';

.container {
  width: 100%;
  max-width: 1372px;
  padding: 0 16px;
  margin: 0 auto;
  @media (max-width: 1200px) {
    max-width: 1172px;
  }
  @media (max-width: 980px) {
    max-width: unset;
  }
}

header.scroll {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-green, #16676B);
}

.section {
  padding: 170px 0;
  @media (max-width: 1400px) {
    padding: 150px 0;
  }
  @media (max-width: 1200px) {
    padding: 120px 0;
  }
  @media (max-width: 980px) {
    padding: 80px 0;
  }
  @media (max-width: 767px) {
    padding: 60px 0;
  }
}

// .section-top {
//   margin-top: 140px;
//   @media (max-width: 767px) {
//     margin-top: 70px;
//   }
// }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  min-width: 260px;
  padding: 1.25rem 1rem;
  border: 1px solid var(--white, #FFFFFF);
  border-radius: 4px;
  line-height: 1;
  transition: all 0.3s ease-in-out;
  &:disabled {
    opacity: 0.5;
  }
  &:hover:not(:disabled) {
    cursor: pointer;
    background-color: var(--light-green, #00B7C1);
  }
  &_light {
    position: relative;
    border: 0;
    border-radius: 10px;
    color: var(--white, #FFFFFF);
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    &::before {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 70%;
      right: 0;
      border: 1px solid var(--white, #FFFFFF);
      border-radius: 10px 10px 0 0;
      border-bottom: none;
    }
    &::after {
      content: " ";
      position: absolute;
      left: 0;
      top: 70%;
      bottom: 0;
      right: 0;
      border: 1px solid var(--white, #FFFFFF);
      border-radius: 0 0 10px 10px;
      border-top: none;
    }
    &:hover:not(:disabled) {
      cursor: pointer;
      color: var(--primary-green, #16676B);
      background-color: var(--white, #FFFFFF);
    }
  }
  @media (max-width: 767px) {
    width: 100%;
  }
}