.hero {
  padding: 60px 0;
  margin-top: 140px;
  overflow: hidden;
  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  &__title {
    display: flex;
    flex-direction: column;
    width: 65%;
    letter-spacing: 0.02em;
    span {
      &:nth-child(2) {
        margin-left: 23%;
      }
    }
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  &__subtitle {
    margin-left: auto;
    font: 700 32px/1.2 CeraPro;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    @media (max-width: 1200px) {
      font-size: 28px;
    }
    @media (max-width: 980px) {
      font-size: 24px;
    }
    @media (max-width: 767px) {
      margin: 0 auto;
      font-size: 16px;
    }
  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 50px;
    @media (max-width: 980px) {
      gap: 30px;
    }
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__application {
    width: 29%;
    padding: 20px;
    padding-top: 24px;
    border-radius: 10px;
    background-color: #F7F7F7;
    @media (max-width: 1200px) {
      font-size: 12px;
    }
    @media (max-width: 980px) {
      width: 35%;
    }
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  &__img {
    position: relative;
    width: calc(71% - 50px);
    margin-top: -50px;
    border-radius: 10px;
    overflow: hidden;
    pointer-events: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media (max-width: 767px) {
        height: 130vw;
        width: auto;
        min-width: 120%;
      }
    }
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      width: 100%;
      height: calc(100% - 50px);
      border-radius: 10px;
      background-color: #F7F7F7;
      z-index: -1;
      @media (max-width: 767px) {
        width: calc(100% + 32px);
        height: calc(100% - 80px);
        margin: 0 -16px;
        border-radius: 0;
      }
    }
    @media (max-width: 980px) {
      width: calc(65% - 30px);
    }
    @media (max-width: 767px) {
      width: calc(100% + 16px);
      border-radius: 0;
      overflow: visible;
    }
  }
  @media (max-width: 1200px) {
    padding-bottom: 20px;
  }
  @media (max-width: 767px) {
    margin-top: 130px;
  }
  @media (max-width: 520px) {
    margin-top: 70px;
  }
}