.about {
  &__card {
    position: relative;
    flex: 0 0 390px;
    display: flex;
    flex-direction: column;
    padding: 27px 24px;
    padding-bottom: 0;
    border-radius: 10px;
    &::before {
      content: " ";
      counter-increment: item;
      content: "0" counter(item);
      margin-bottom: 30px;
      font-size: 16px;
      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
    }
    &::after {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 80%;
      right: 0;
      border: 1px solid var(--white, #FFFFFF);
      border-radius: 10px 10px 0 0;
      border-bottom: none;
    }
    @media (max-width: 767px) {
      flex: 1 1 300px;
      padding: 20px;
    }
  }
}