.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px 0;
    font-weight: 300;
    line-height: 1;
    @media (max-width: 1440px) {
      font-size: 14px;
    }
    @media (max-width: 520px) {
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid var(--white, #FFFFFF);
    }
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    @media (max-width: 520px) {
      display: contents;
    }
    &:first-child {
      padding-bottom: 15px;
      border-bottom: 1px solid var(--white, #FFFFFF);
      @media (max-width: 520px) {
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
  }
  &__logo {
    width: 8.5vw;
    height: 3.3vw;
    max-width: 164px;
    min-width: 102px;
    max-height: 63px;
    min-height: 39px;
    img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
    }
    @media (max-width: 520px) {
      margin-right: auto;
    }
  }
  &__box {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &__lang {
    padding: 0;
    border: 0;
  }
  &__mail, &__tel {
    transition: all 0.3s ease-in-out;
    &:hover {
      color: var(--light-green, #00B7C1);
    }
    @media (max-width: 520px) {
      display: none;
    }
  }
  &__nav {
    @media (max-width: 767px) {
      position: absolute;
      top: -100dvh;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100dvh;
      font-size: 24px;
      background-color: var(--primary-green, #16676B);
      z-index: 1;
    }
    &.open {
      @media (max-width: 767px) {
        top: 100%;
      }
    }
  }
  &__menu {
    align-items: center;
    gap: 30px;
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__call {
    position: relative;
    padding: 0;
    border: 0;
    color: var(--white, #FFFFFF);
    background: transparent;
    text-transform: uppercase;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    &::after {
      position: absolute;
      top: calc(100% + 4px);
      left: 0;
      right: 0;
      content: "";
      width: 100%;
      height: 1px;
      background-color: var(--white, #FFFFFF);
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      color: var(--light-green, #00B7C1);
      &::after {
        background-color: var(--light-green, #00B7C1);
      }
    }
  }
  &__burger {
    position: relative;
    display: none;
    min-width: 15px;
    min-height: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    @media (max-width: 767px) {
      display: block;
    }
    span {
      position: absolute;
      right: 0;
      display: block;
      height: 2px;
      width: 100%;
      pointer-events: none;
      background-color: var(--white, #FFFFFF);
      border-radius: 5px;
      transition: all 0.3s ease-in-out;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
      &:nth-child(3) {
        bottom: 0;
      }
    }
  }
}