.footer {
  padding: 50px 0;
  background-color: var(--dark-bg, #1D1D1D);
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid var(--white, #FFFFFF);
  }
  &__logo {
    width: 7.2vw;
    height: 2.7vw;
    max-width: 139px;
    min-width: 102px;
    max-height: 53px;
    min-height: 39px;
    img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
    }
    @media (max-width: 520px) {
      margin-right: auto;
    }
  }
  &__box {
    display: flex;
    gap: 50px;
    font-size: 14px;
    @media (max-width: 980px) {
      gap: 40px;
    }
    @media (max-width: 767px) {
      gap: 20px;
    }
  }
  &__col {
    display: flex;
    flex-direction: column;
    span {
      font-weight: 500;
    }
  }
  &__contacts {
    gap: 30px;
    span {
      margin-bottom: 16px;
    }
    @media (max-width: 767px) {
      gap: 20px;
    }
  }
  &__address {
    a {
      max-width: 150px;
    }
  }
  &__menu, &__socials {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__copy {
    display: flex;
    gap: 30px;
    a {
      margin-left: auto;
    }
    span {
      &:nth-of-type(2) {
        @media (max-width: 520px) {
          display: none;
        }
      }
    }
    @media (max-width: 767px) {
      gap: 20px;
    }
  }
  a {
    transition: all 0.3s ease-in-out;
    &:hover {
      color: var(--light-green, #00B7C1);
    }
  }
}