.services {
  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    &::before {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 85%;
      right: 0;
      border: 1px solid var(--white, #FFFFFF);
      border-radius: 10px 10px 0 0;
      border-bottom: none;
    }
    &::after {
      content: " ";
      position: absolute;
      left: 0;
      top: 85%;
      bottom: 0;
      right: 0;
      border: 1px solid var(--white, #FFFFFF);
      border-radius: 0 0 10px 10px;
      border-top: none;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    @media (max-width: 767px) {
      gap: 16px;
      padding: 20px 16px;
    }
  }
  &__num {
    &::before {
      counter-increment: num;
      content: "0" counter(num);
    }
  }
  &__caption {
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  &__img {
    height: 220px;
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      transition: all 0.3s ease-in-out;
    }
  }
}