.header {
  &__box {
    display: flex;
    align-items: center;
    gap: 30px;
    @media (max-width: 520px) {
      flex-direction: column;
      gap: 24px;
      width: 100%;
    }
  }
  &__mail, &__tel {
    transition: all 0.3s ease-in-out;
    &:hover {
      color: var(--light-green, #00B7C1);
    }
    @media (max-width: 520px) {
      width: 100%;
      text-align: center;
    }
  }
  &__mail {
    @media (max-width: 520px) {
      padding-bottom: 24px;
      border-bottom: 1px solid rgba(213, 213, 213, 0.4);
    }
  }
}